<h3>Sign In</h3>
<form class="ui form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <app-input
    inputType="text"
    label="Username"
    [control]="signInForm.get('username')"
  ></app-input>
  <app-input
    inputType="password"
    label="Password"
    [control]="signInForm.get('password')"
  ></app-input>

  <div
    *ngIf="
      signInForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="signInForm.errors.credentials">
      Invalid username pr password.
    </p>
  </div>

  <div>
    <button mat-button class="mat-raised-button mat-accent">
      Submit
    </button>
  </div>

</form>
